{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание, Вариант: 24{% endblock %}

{% block main %}
<h1>Вход</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form method="POST">
    <label>Логин:</label>
    <input type="text" name="username"><br>
    <label>Пароль:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Войти">
    </form>
{% endblock %}